<div class="auth-page">
  <div class="auth-container">
    <div class="auth-tabs">
      <button [class.active]="isLoginMode" (click)="switchMode(true)">
        Login
      </button>
      <button [class.active]="!isLoginMode" (click)="switchMode(false)">
        Sign Up
      </button>
    </div>

    <div class="auth-content">
      <app-auth-form
        *ngIf="isLoginMode"
        [title]="'Welcome back!'"
        [subtitle]="'Login to your account'"
        [buttonText]="'Sign in'"
        [isLoginMode]="true"
        [formGroup]="loginForm"
        (onSubmit)="onLogin()"
      >
        <input formControlName="email" type="email" placeholder="Email" />
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
        />
      </app-auth-form>

      <app-auth-form
        *ngIf="!isLoginMode"
        [title]="'Join StyleSwift for exclusive'"
        [subtitle]="'Unlock VIP benefits. No commitment required.'"
        [buttonText]="'Sign up'"
        [isLoginMode]="false"
        [formGroup]="signupForm"
        (onSubmit)="onSignup()"
      >
        <input formControlName="fullName" placeholder="Your full name" />
        <input
          formControlName="email"
          type="email"
          placeholder="Your email address"
        />
        <input
          formControlName="password"
          type="password"
          placeholder="Create a password"
        />
        <input
          formControlName="confirmPassword"
          type="password"
          placeholder="Confirm password"
        />
      </app-auth-form>
    </div>
  </div>
</div>
