<div class="search-container">
    <div class="store-name">STORE NAME</div>
    
    <div class="search-box">
      <i class="fas fa-search search-icon"></i>
      <input 
        type="text" 
        [(ngModel)]="searchQuery"
        placeholder="Search by name"
        class="search-input"
      >
    </div>
  
    <div class="buttons-container">
      <button class="filter-btn">
        <i class="fas fa-filter"></i>
        Filter
      </button>
  
      <button class="sort-btn">
        <i class="fas fa-sort"></i>
        Sort Selection
      </button>
    </div>
</div>